body {

    color: var(--color-secondary);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    flex-direction: row;
    display: flex;
}

header {
    
    padding: 0rem;
    text-align: left;
    flex-direction: column;
    display: flex;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0 20px;
    margin-bottom: 30px;
}

nav ul li {
    display: flex;
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    margin-bottom: 20px;
}

.logo {
    max-width: 64px;
    max-height: 64px;
    margin-top: 0px;
    margin-left: 0px;
}
footer{
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.side-box {
    float: right;
    width: 150px; 
    height: 150px;
    background-color: #eee;
    padding: 10px;
    margin-left: 500px;
    
}