<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('css', filename='style2s.css') }}">
    <link rel="stylesheet" href="{{ url_for('css', filename='styletheme.css') }}">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_volerICON.png') }}">
    <title>Titre de votre page</title>
</head>
<body>
    <header>
        <img id="logoImage" src="{{ url_for('static', filename='images/imagenoir.png') }}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#explore">Explore</a></li>
                <li><a href="#notifications">Notifications</a></li>
                <li><a href="#messages">Messages</a></li>
                <li><a href="#lists">Lists</a></li>
                <li><label for="themeSelect">Choisir un thème:</label>
                    <select id="themeSelect" onchange="changeTheme(this.value)">
                        <option value="theme1">Thème 1</option>
                        <option value="theme2">Thème 2</option>
                    </select></li></ul>
        </nav>
    </header>
    <div class="side-box">
        <p>Votre texte ici</p>
    </div>
    <script>
        function changeTheme(theme) {
            document.documentElement.setAttribute('data-theme', theme);

            
            var logoImage = document.getElementById('logoImage');
            if (theme === 'theme1') {
                logoImage.src = "{{ url_for('static', filename='images/imagenoir.png') }}";
            } else if (theme === 'theme2') {
                logoImage.src = "{{ url_for('static', filename='images/imageblanc.png') }}";
            }
        }
    </script>
</body>
<footer> 2024 Y. Tous droits réservés.</footer>
</html>
