<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('css', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>Titre de votre page</title>
</head>
<body>
    <h1>Saucisse</h1>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#explore">Explore</a></li>
            <li><a href="#notifications">Notifications</a></li>
            <li><a href="#messages">Messages</a></li>
            <li><a href="#lists">Lists</a></li>
        </ul>
    </nav>
    <img src="{{ url_for('static', filename='images/logo_voler.png') }}" alt="Logo">
</body>
</html>
